*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(imagens/body.jpg) no-repeat right bottom;
    background-size: cover;
}

.fundotransparente{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

header .nome{
    font-size: 25px;
    font-weight: 800;
    color: white;
    margin-left: 50px;
}

header .link{
    display: flex;
    gap: 35px;
}

header .link a{
    color: rgba(255, 255, 255, 0.74);
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0px;
}

header .link button{
    margin: 3px 20px 0px 0px;
    width: 90px;
    height: 40px;
}



section{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.tamanho{
    background-color: rgba(228, 201, 201, 0.199);
    width: 30%;
    height: 400px;
    margin-top: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 10px;
}

.tamanho p{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.582);
}

.email{
    display: flex;
    justify-content: center;
}

.email input{
    width: 90%;
    margin: 20px 0px 0px 5px;
}

.senha{
    display: flex;
    justify-content: center;
}

.senha input{
    width: 90%;
    margin: 20px 0px 0px 5px;
}

.lembrar{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 10px 0px;
}

.lembrar input{
    cursor: pointer;
}

.lembrar a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.445);
}

.button{
    display: flex;
    justify-content: center;
}

.button button{
    width: 50%;
    margin-top: 30px;
}

.button button a{
    text-decoration: none;
    color: white;
}

.icones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icones img{
    width: 30px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
}
